@extension_description
Чорны рэжым для кожнага сайта. Паклапаціцеся пра свае вочы, выкарыстоўвайце цёмную тэму для начнога і дзённага прагляду.
@loading_please_wait
Загружаецца, калі ласка, чакайце.

@on
Уключанна
@off
Выключана

@toggle_current_site
Перайсці на гэты сайт.

@setup_hotkey_toggle_site
Наладзіць гэты сайт.
Гарачая кнопка для пераключэння

@toggle_extension
Уключыць пашырэнне

@setup_hotkey_toggle_extension
Наладзіць пашырэнне
Гарачая кнопка для пераключэння
@automation
Аўтаматызацыя

@set_active_hours
Паставіць актыўныя часы

@set_location
Актываваць пасля заходу сонца на месцы

@longitude
Даўжыня

@latitude
Шырата

@page_protected
Гэта страничка заблакаваная сайтам
@local_files_forbidden
Не дазволены доступ да лакальных файлаў

@page_in_dark_list
Гэты сайт знаходзіцца ў глабальным спісе
Dark List.

@system_dark_mode
Выкарыстоўваць сістэмную каляровую схему

@system_dark_mode_description
Актывуецца калі сістэмны чорны рэжым уключаны

@system_dark_mode_chromium_warning
Гэты варыянт можа не працаваць з-за
памылкі ў вашым браўзэры.

@filter
Фільтр

@mode
Ражым

@dark
Чорны

@light
Светлы
@brightness
Яркасць

@contrast
Кантраст

@grayscale
Градацыя шэрага
@sepia
Сэпія

@only_for
Толькі для

@only_for_description
Ужыць наладкі толькі да бягучага сайта

@site_list
Спіс сайтаў

@invert_listed_only
Інвертаваць толькі выбраныя

@not_invert_listed
Спіс не інвертаванных

@add_site_to_list
Дабавіць сайт у спіс

@setup_add_site_hotkey
Настройка гарачай клавішы для дадання сайта

@more
Больш

@select_font
Выбраць шрыфт
@text_stroke
Тэкставая рыска

@try_experimental_theme_engines
Паспрабуйце новыя **эксперыментальныя** тэмы с рухавічком:
**Filter+** Захоўвае насычанасць кветак, выкарыстоўвае відэакарту
**Static theme** Генерыруе простую і хуткую тэму
**Dynamic theme** аналізуе колеры и адлюстраванне

@engine_filter
Фільтр

@engine_filter_plus
Фільтр+

@engine_static
Статычны
@engine_dynamic
Дынамічны

@theme_generation_mode
Рэжым генераціі тэмы
@custom_browser_theme_on
Кастамны

@custom_browser_theme_off
Па змаўчанні

@change_browser_theme
Памяняць тэму браўзера
@privacy
Прыватнасць

@help
Дапамога

@donate
Пажертваваць 

@we_celebrate_10_years
Dark Reader святкуе 10 гадоў
Калі ласка, падтрымайце нашу працу
@pay_for_using
Заплаціь за выкарыстанне Dark Reader
@news
Навіны

@read_more
Прачытаць больш
@open_dev_tools
Налады распрацоўніка

@mobile
Мабільная версія
@learn_more
Пазнаць больш

@mobile_text
Паменшыце напружанне вачэй пры чытанні з тэлефона ці планшэта.
Проста адскануйце QR-код для ўстаноўкі.

@all_settings
Усе налады

@version
Версія

@configure_automation
Наладзьце аўтаматызацыю
@auto_night_time
Аўта (Начны час)

@auto_day_time
Аўта (Дзённы час)

@auto_night_at_location
Аўта (ноч на месцы)

@auto_day_at_location
Аўта (дзень на месцы)

@auto_system_is_dark
Аўто (сістэма цёмная)

@auto_system_is_light
Аўто (сістэма светлая)

@click_to_set_shortcut
Націсніце, каб усталяваць ярлык
@extension_toggle_shortcut
Гарачыя клавішы на клавіатуры для ўключэння / выключэння пашырэння

@configure_site_toggle
Настройка пераключэння вэб-сайтаў

@site_toggle
Пераключэнне сайтаў

@enabled_by_default
Уключана па змаўчанні

@enable_for_all_sites_by_default
Уключана для ўсіх all сайтаў па змаўчанні

@detect_dark_theme
Выяўляць чорную тэму

@detect_website_dark_theme
Выяўляць чорную тэму на сайтах

@dark_theme_detected
Чорная тэма выяўлена

@website_toggle_shortcut
Пераключэнне вэб-сайта з дапамогай спалучэння клавіш
@support_out_work
Падтрымаць нашу працу

@mobile_link
Мабільны Dark Reader ужо даступны. Пазнаць больш
@store_listing
Гэта пашырэнне для догляду за вачыма забяспечвае начны рэжым, ствараючы цёмныя тэмы для сайтаў на лета.

Вы можаце наладзіць яркасць, кантраснасць, фільтр сепіі, цёмны рэжым, параметры шрыфта і спіс ігнаравання.

Мы можам папрасіць вас падтрымаць развіццё прыкладання ахвяраваннем.

Dark Reader не паказвае рэкламу і не адпраўляе дадзеныя карыстальнікаў куды-небудзь. Гэта цалкам open source: https://github.com/darkreader/darkreader

Перад усталёўкай адключыце падобныя пашырэнні. Прыемнага прагляду!
